################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConfigSerilog/obj/Debug/netcoreapp3.1
/ConfigSerilog/bin/Debug/netcoreapp3.1/ConfigSerilog.pdb
/ConfigSerilog/bin/Debug/netcoreapp3.1
/.vs
