################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nick.WebSite/v16
/ConfigSerilog/bin/Debug/netcoreapp3.1
/ConfigSerilog/obj/Debug/netcoreapp3.1/ConfigSerilog.pdb
/ConfigSerilog/obj/Debug/netcoreapp3.1/ConfigSerilog.dll
/ConfigSerilog/obj/Debug/netcoreapp3.1/ConfigSerilog.csproj.FileListAbsolute.txt
/ConfigSerilog/obj/Debug/netcoreapp3.1/ConfigSerilog.csproj.CoreCompileInputs.cache
